// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin topic_user_name {
	float: left;
	margin-top: 20px;
	display: block;
	text-align: left;
	font-size: 12px;
	clear: left;
	.p {
		display: block;
	}
}

header {
  width: 100%;
  background-color:#3b5998;
  text-align: center;
}

body {
	padding-top: 50px;
	background-color: #e9ebee;
}

.navbar-default {
    border: 0;
    padding: 0px 100px;
}
.navbar {
		background-color:#3b5998;
    color: white;
    margin-bottom: 0px;
		font-size: 7px;
		height: 20px;
}
.navbar-default {
  .navbar-brand {
    color: #ccc;
    &:hover {
      color: white;
    }
  }
  .navbar-nav > li > a {
    color: #ccc;
    &:hover, &:focus {
      color: white;
    }
  }
  .navbar-nav > .open > a {
    background-color: transparent;
    color: white;
    &:hover, &:focus {
      background-color: transparent;
      color: white;
    }
  }
}
@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ccc;
    text-align: center;
    &:hover, &:focus {
      color: white;
    }
  }
  .navbar-default .navbar-toggle {
    background-color: transparent;
    &:hover, &:focus {
      background-color: transparent;
    }
  }
	.divider {
		height: 1px;
		margin: 9px 0;
		overflow: hidden;
		background-color: #e5e5e5;
	}
}

img{
  max-width: 100%;
}

.topic-wrapper {
	float: left;
	.topic-row {
		background-color:#fff;
		margin: 0px 0px 15px 0px;
		width: 100%;
		clear: both;
		border-bottom: 1px solid #ccc;
		border-right: 1px solid #ccc;
		text-align: left;
		padding: 20px;
		word-wrap: break-word;
		@include topic_user_name;
	}
}

.left-wrapper {
	float: left;
	text-align: left;
	padding: 20px 0px;
	word-wrap: break-word;
	display: block;
}

.right-wrapper {
	float: left;
	text-align: left;
	padding: 20px 0px;
	word-wrap: break-word;
	display: block;
	.topic-row {
		background-color:#fff;
		margin: 0px 0px 15px 0px;
		width: 100%;
		clear: both;
		border-bottom: 1px solid #ccc;
		border-right: 1px solid #ccc;
		text-align: left;
		padding: 20px;
		word-wrap: break-word;
	}
}

input[type="submit"].btn-block {
	margin: 15px 0;
}

.topic-avatar {
	margin: 5px 5px;
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  img {
    display: block;
    margin: 0 auto;
  }
}

.header-avatar {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
	margin-right: 5px;
  img {
    display: block;
    margin: 0 auto;
  }
}

.user-page {
	.container {
		h2 {
			border-bottom: 1px solid #ccc;
		}
		p {
			word-wrap: break-word;
		}
	}
}
.container-child {
	margin: 30px 0;
	.profile-icon {
		img {
			display: block;
			text-align: center;
		}
	}
	img {
		display: block;
		vertical-align: middle;
		margin: 0 auto;
		width: 75px;
		height: 75px;
	}
}

.alert, .alert-danger{
  ul {
    padding: 0;
    li {
      list-style-type: none;
    }
  }
}

footer {
	float: right;
  padding: 20px 20px;
  margin: auto;
  padding-bottom: 10px;
  font-size: 2px;
}

.clear-both {
	border-top: 1px solid #ccc;
	display: block;
	clear: both;
}

.topic-content {
	word-wrap: break-word;
	display: block;
	border-bottom: 1px solid #ccc;
}
