<div class="left-wrapper col-md-2 col-sm-2">
    <p><%= link_to current_user.name, user_path(current_user) %></p>
    <p><%= link_to "アカウントを編集", edit_user_registration_path %></p>
    <p>content1</p>
    <p>content2</p>
    <br>
    <br>
    <br>
</div>
